:root {
  --accent-color: rgb(92, 101, 22);
  --base-color: rgb(0, 89, 125);
  --sub-color: rgb(172, 160, 78);

  --logo-twig-color: #b34f1b;

  --location-indicator-color: var(--logo-twig-color);

  --task-action-subtle-color: rgb(120, 120, 120);

  --calendar-section-left-spacing: 2vw;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* prevent accidental going back page */
/* https://stackoverflow.com/questions/30636930/disable-web-page-navigation-on-swipeback-and-forward?rq=1 */
html, body {
  overscroll-behavior-x: none;
}

/* adding body { height: 100% } and remove html, body { overflow: hidden} at least allows you to scroll the page back up from the mystery white space, whereas
before the problem would happen AND you cannot scroll back up*/
body {
  margin: 0;
  height: 100%;
}

/* Reset button's default styling */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
	text-align: center;

  /* Fix for Safari/iOS */
	appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.simple-flex {
  display: flex;
  align-items: center;
}

.new-task-icon {  
  font-weight: 100;
  color: var(--task-action-subtle-color);
  font-size: 30px; 
  line-height: 0.3;
  margin-left: 4px; 
  cursor: pointer;  
}

/* NOTE: must have a explicitly set width */
.truncate-to-one-line {
  /*  width: 250px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Reused between some components */
.reset-textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

 /*
    A full size invisible container to cover the entire screen for modularity purposes, 
    not accidentally trigger click on other elements e.g. accidentally creating a new task on the calendar when you're just trying to exit

    For some reason 100vh doesn't cover the bottom, so I just make it ridiculously big
*/
.fullscreen-invisible-modular-popup-layer {
  width: 100vw; 
  height: 100vh; 
  position: fixed; 
  top: 0; 
  left: 0; 
  background: transparent; 
  z-index: 2;
}

/* Notion scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #D3D1CB;
}
::-webkit-scrollbar-track {
  background: #EDECE9;
}

/* https://uxmovement.substack.com/p/how-to-use-surface-elevation-to-elevate
  We base low, medium and high elevation on this essay.
*/

/* 
.ux-low-elevation {
  @extend .core-shadow;
} 

.ux-high-elevation {
  @extend .core-shadow;
  @extend .cast-shadow-max; 
} 
*/

.core-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
}

.cast-shadow {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
}

.cast-shadow-max {
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.08);
}

.paper-shadow {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2), 1px 1px 1px 1px rgba(0, 0, 0, 0.19);
}